@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter&family=Josefin+Sans&family=Montserrat&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Inter&family=Josefin+Sans&family=Montserrat&family=Poppins:wght@300;600&display=swap");
body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: Arial, sans-serif;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
}
nav {
  display: inline;
  background-color: #bd9047;
}
.navbar {
  background-color: #bd9047;
  display: flex;
}
#cap {
  margin-left: 1300px;
  color: #444;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.nav h2 {
  margin-left: 10px;
  color: #2d3542;
  font-family: Poppins;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
button {
  width: 50px;
  height: 50px;
}
img {
  height: 150px;
  width: 150px;
  border-radius: 90px;
  margin-left: 20px;
}
.container {
  display: flex;
  /* height: 100%; */
  width: 100%;
}

.sidebar {
  width: 15%;
  background: #2d3542;
  /* padding: 20px; */
  height: 100%;
  /* height: 200vh; */
  display: flex;
  padding: 50px 25px 40px 25px;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  min-height: 941px;
}
.sidebar h2 {
  color: #bd9047;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sidebar li {
  color: #fff;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.main-content {
  width: 70%;
  padding: 20px;
  height: 100%;
  /* height: 200vh; */
}
.main-content h1 {
  color: #bd9047;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 30px;
}
.overview {
  color: #444;
  font-family: Poppins;
  font-size: 11px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 15px;
}
.block {
  color: #bd9047;
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 25px;
  margin-left: 30px;
}
.block span {
  color: #444;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.block li {
  color: #444;
  font-family: Poppins;
  font-size: 9px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.period {
  font-size: 10px;
  margin-left: 45px;
}

#li {
  margin-left: 145px;
}
footer {
  background-color: #bd9047;
  /* margin-top: 290px; */
  height: 120px;
  width: 100%;
}
.footer img {
  height: 40px;
  width: 40px;
  margin-top: 48px;
  margin-left: 45px;
}

.animation {
  width: 100%;
}
.ball {
  border-radius: 50%;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.326),
    inset 0px 10px 30px 5px rgb(225, 248, 255);
  width: 200px;
  height: 200px;
  position: absolute;
}

@keyframes animateball {
  0% {
    margin-bottom: 1000px;
  }

  100% {
    margin-bottom: -100%;
  }
}
@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}
.x1 {
  animation: animateball 15s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 50%;
  top: 5%;
  transform: scale(0.1);
}
.x2 {
  animation: animateball 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
  left: 25%;
  top: 80%;
  transform: scale(0.7);
}
.x3 {
  animation: animateball 25s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 65%;
  top: 40%;
  transform: scale(0.8);
}
.x4 {
  animation: animateball 18s linear infinite,
    sideWays 3s ease-in-out infinite alternate;
  left: 30%;
  top: 15%;
  transform: scale(0.3);
}
.x5 {
  animation: animateball 22s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 70%;
  top: 10%;
  transform: scale(0.2);
}
.x6 {
  animation: animateball 21s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
  left: 40%;
  top: 50%;
  transform: scale(0.4);
}
@media all and (max-width: 1260px) {
  nav {
  }
  #cap {
    margin-left: 800px;
  }
  .sidebar {
    min-height: 1000px;
  }
}
@media all and (max-width: 770px) {
  #cap {
    margin-left: 550px;
  }
  img {
    height: 100px;
    width: 100px;
    margin-left: 10px;
  }
  .sidebar h2 {
    font-size: 15px;
  }
  .sidebar li {
    font-size: 9px;
    margin-right: 20px;
    margin-left: -25px;
  }
  .main-content h1 {
    font-size: 25px;
  }
  .sidebar {
    min-height: 1300px;
  }
}
